{% if type == 'product' %}
    <custom-accordion-component>
        <div class="card-component product-details-accordion">
            <div class="accordion-container">
                <div class="accordion-item">
                    <button class="accordion-label" data-accordion-target>
                        {% render 'icon-arrow-up' %}
                        <h3>{{ 'main_product_info.product_details' | t }}</h3>
                    </button>
                    <article class="accordion-content">
                        {{ product.description }}
                    </article>
                </div>
            </div>
        </div>
    </custom-accordion-component>
{% else %}
    {% if title and rich_text %}
        {{ 'main-accordion-component.css' | asset_url | stylesheet_tag }}

        <div id="{{ title }}" class="card-component main-accordion-component">
            <div class="accordion-container">
                <div class="accordion-item">
                    <button class="accordion-label" data-accordion-target>
                        <h3>{{ title }}</h3>
                        {% render 'icon-plus' %}
                    </button>
                    <article class="accordion-content">
                        {{ rich_text }}
                    </article>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<script src="{{ 'custom-accordion-component.js' | asset_url }}" type="module" defer></script>