{{ 'main-uspell-card.css' | asset_url | stylesheet_tag }}

<div class="card-component upsell-card flex flex-row">
    <a class="flex" href="{{ product.url }}">
        <div class="img-wrapper">
            {{ product.featured_image | image_url: width: 80 | image_tag: height: 80, alt: product.title }}
        </div>

        <div class="info-wrapper flex flex-col d-gap-10">
            <div>
                <h3>{{ product.title }}</h3>
            </div>

            <div class="price-wrapper flex">
                {% unless product.compare_at_price < product.price %}
                    <span class="sale-price price flex">
                        {{ product.compare_at_price | money_without_trailing_zeros }}
                    </span>
                {% endunless %}

                <strong>
                    <span class="price flex">
                        {{ product.price | money_without_trailing_zeros }}
                    </span>
                </strong>
            </div>
        </div>
    </a>

    {% render 'add-to-cart',
        product: product,
        button_style: 'icon'
    %}
</div>